# importing modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# Loading Dataset

In [4]:
df = pd.read_csv(r"C:\Users\ajayk\Desktop\Machine Learning\Machine-Learning\Condition Monitoring of Hydraulic System\condition_monitoring_of_Hydraulic_system.csv")

In [5]:
df

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,0,160.673492,109.466914,1.991475,0.000000,9.842170,9.728098,6.709815,10.304592,35.621983,...,2538.929167,0.576950,39.601350,1.862750,59.157183,3,100,0,130,1
1,1,160.603320,109.354890,1.976234,0.000000,9.635142,9.529488,6.715315,10.403098,36.676967,...,2531.498900,0.565850,25.786433,1.255550,59.335617,3,100,0,130,1
2,2,160.347720,109.158845,1.972224,0.000000,9.530548,9.427949,6.718522,10.366250,37.880800,...,2519.928000,0.576533,22.218233,1.113217,59.543150,3,100,0,130,1
3,3,160.188088,109.064807,1.946576,0.000000,9.438827,9.337430,6.720565,10.302678,38.879050,...,2511.541633,0.569267,20.459817,1.062150,59.794900,3,100,0,130,1
4,4,160.000472,108.931434,1.922707,0.000000,9.358762,9.260636,6.690308,10.237750,39.803917,...,2503.449500,0.577367,19.787017,1.070467,59.455267,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,161.227572,109.779581,2.001438,10.202473,9.972037,9.850361,6.689930,10.184515,35.313783,...,2543.911033,0.550833,46.628517,2.160600,59.033100,100,100,0,90,0
2201,2201,161.206070,109.787481,1.998781,10.197919,9.966184,9.844854,6.692182,10.177767,35.321600,...,2543.411333,0.547483,46.689817,2.151450,59.068000,100,100,0,90,0
2202,2202,161.192120,109.756174,1.993436,10.196824,9.964329,9.842629,6.693277,10.176172,35.319183,...,2542.729767,0.545233,46.472300,2.143300,59.132350,100,100,0,90,0
2203,2203,161.208917,109.793884,2.007077,10.198588,9.968232,9.846690,6.684128,10.178353,35.324767,...,2544.046333,0.537017,46.544967,2.148483,58.970800,100,100,0,90,0
2204,2204,161.217128,109.792176,2.002690,10.203126,9.973638,9.851949,6.692302,10.183393,35.322233,...,2543.818300,0.546583,46.647933,2.157050,59.053900,100,100,0,90,0

In [6]:
df.columns

Index(['Unnamed: 0', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6', 'FS1', 'FS2',
       'TS1', 'TS2', 'TS3', 'TS4', 'P1', 'VS1', 'CE1', 'CP1', 'SE1',
       'y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc',
       'y_stableFlag'],
      dtype='object')

In [11]:
df.describe()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1102.000000,160.485315,109.379906,1.753227,2.600266,9.163320,9.079363,6.198549,9.649453,45.424567,...,2495.509203,0.613315,31.299077,1.808399,55.287900,41.240816,90.693878,0.669388,107.199546,0.342857
std,636.672993,4.699425,4.986585,0.251902,4.279355,0.576296,0.549589,1.032883,0.449246,7.991933,...,73.836682,0.060260,11.575330,0.278263,8.960189,42.383143,10.681802,0.817233,16.435848,0.474772
min,0.000000,155.391547,104.406307,0.840252,0.000000,8.365801,8.321527,2.018572,8.857513,35.313783,...,2361.747267,0.524367,17.555983,1.062150,18.276617,3.000000,73.000000,0.000000,90.000000,0.000000
25%,551.000000,158.100195,106.962382,1.729733,0.000000,8.547239,8.487167,6.391670,9.203397,36.237150,...,2442.933467,0.555100,20.084650,1.550100,56.270183,3.000000,80.000000,0.000000,90.000000,0.000000
50%,1102.000000,158.960895,107.730169,1.779630,0.000000,9.115781,9.031516,6.576673,9.692270,44.836650,...,2480.926633,0.610183,27.392533,1.739683,58.758150,20.000000,100.000000,0.000000,100.000000,0.000000
75%,1653.000000,161.000735,109.421612,1.932047,3.503266,9.844351,9.729275,6.657508,10.155008,54.104317,...,2548.211467,0.649850,46.677383,2.148483,59.656900,100.000000,100.000000,1.000000,130.000000,1.000000
max,2204.000000,180.922708,131.589089,2.023398,10.207068,9.978511,9.856591,6.722707,10.403098,57.899283,...,2740.641000,0.839067,47.903667,2.840100,60.755300,100.000000,100.000000,2.000000,130.000000,1.000000

# Assigning values to X & y

In [12]:
X = df[['PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6', 'FS1', 'FS2',
       'TS1', 'TS2', 'TS3', 'TS4', 'P1', 'VS1', 'CE1', 'CP1', 'SE1']]
y = df[['y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc',
       'y_stableFlag']]

In [13]:
X

,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,TS2,TS3,TS4,P1,VS1,CE1,CP1,SE1
0,160.673492,109.466914,1.991475,0.000000,9.842170,9.728098,6.709815,10.304592,35.621983,40.978767,38.471017,31.745250,2538.929167,0.576950,39.601350,1.862750,59.157183
1,160.603320,109.354890,1.976234,0.000000,9.635142,9.529488,6.715315,10.403098,36.676967,41.532767,38.978967,34.493867,2531.498900,0.565850,25.786433,1.255550,59.335617
2,160.347720,109.158845,1.972224,0.000000,9.530548,9.427949,6.718522,10.366250,37.880800,42.442450,39.631950,35.646150,2519.928000,0.576533,22.218233,1.113217,59.543150
3,160.188088,109.064807,1.946576,0.000000,9.438827,9.337430,6.720565,10.302678,38.879050,43.403983,40.403383,36.579467,2511.541633,0.569267,20.459817,1.062150,59.794900
4,160.000472,108.931434,1.922707,0.000000,9.358762,9.260636,6.690308,10.237750,39.803917,44.332750,41.310550,37.427900,2503.449500,0.577367,19.787017,1.070467,59.455267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,161.227572,109.779581,2.001438,10.202473,9.972037,9.850361,6.689930,10.184515,35.313783,40.874800,38.269267,30.404733,2543.911033,0.550833,46.628517,2.160600,59.033100
2201,161.206070,109.787481,1.998781,10.197919,9.966184,9.844854,6.692182,10.177767,35.321600,40.868883,38.268250,30.416233,2543.411333,0.547483,46.689817,2.151450,59.068000
2202,161.192120,109.756174,1.993436,10.196824,9.964329,9.842629,6.693277,10.176172,35.319183,40.875950,38.246367,30.426250,2542.729767,0.545233,46.472300,2.143300,59.132350
2203,161.208917,109.793884,2.007077,10.198588,9.968232,9.846690,6.684128,10.178353,35.324767,40.876067,38.245733,30.414283,2544.046333,0.537017,46.544967,2.148483,58.970800
2204,161.217128,109.792176,2.002690,10.203126,9.973638,9.851949,6.692302,10.183393,35.322233,40.859400,38.248917,30.390800,2543.818300,0.546583,46.647933,2.157050,59.053900

In [14]:
y

,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,3,100,0,130,1
1,3,100,0,130,1
2,3,100,0,130,1
3,3,100,0,130,1
4,3,100,0,130,1
...,...,...,...,...,...
2200,100,100,0,90,0
2201,100,100,0,90,0
2202,100,100,0,90,0
2203,100,100,0,90,0
2204,100,100,0,90,0

# Splitting dataset to training & testing sets

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=23)

In [17]:
X_train

,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,TS2,TS3,TS4,P1,VS1,CE1,CP1,SE1
1799,160.892637,109.507279,1.984865,10.067268,9.835694,9.720131,6.692268,10.166685,36.275300,41.899300,39.169967,31.289350,2535.228600,0.552317,47.274633,2.157517,59.085550
34,157.834473,107.089634,1.732460,0.000000,8.742354,8.678553,6.635743,9.473755,50.388083,54.987867,51.869100,46.362183,2421.670400,0.651733,18.633850,1.406133,60.338533
186,157.052477,106.371233,1.736454,0.000000,8.543784,8.483880,6.588178,9.190502,54.108133,58.742533,55.727983,49.485850,2395.127200,0.668883,19.830617,1.545750,60.389417
1206,158.950350,107.919246,1.799209,0.000000,9.166477,9.082647,6.664357,9.716115,44.405900,49.474900,46.690850,39.871017,2469.936733,0.598417,27.748533,1.783467,59.637933
1699,160.500193,109.107011,1.918447,10.168552,9.937557,9.818778,6.429422,10.200107,35.709317,41.243483,38.589283,30.653267,2577.748967,0.538033,47.836783,2.180650,55.653433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,161.008537,109.516150,2.003327,0.803464,9.968005,9.846836,6.695602,10.157658,35.434083,41.100033,38.398267,30.554350,2547.096633,0.556350,46.424367,2.147067,58.945533
1993,160.651385,108.934661,1.934659,10.053887,9.828592,9.712992,6.490760,10.139915,36.331350,41.953233,39.212100,31.376150,2547.765500,0.545200,46.610583,2.141000,56.679650
1064,158.684340,107.724603,1.814852,0.000000,9.066613,8.986242,6.663532,9.660167,45.509450,50.457900,47.768817,40.966983,2455.543567,0.598233,28.020533,1.770233,59.871617
742,157.218380,106.344960,1.757120,0.000000,8.770578,8.707083,6.606300,9.316592,50.551817,55.771867,53.093483,45.529883,2416.640633,0.596250,26.626767,1.898600,59.584967
595,156.089288,105.426316,1.722084,0.000000,8.414601,8.370295,6.564817,8.943818,57.078450,61.217483,58.458367,52.387833,2364.606933,0.669767,18.792533,1.462833,60.103900

In [18]:
y_train

,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
1799,100,100,0,115,1
34,3,100,0,130,1
186,3,100,0,130,1
1206,20,100,0,100,1
1699,100,90,2,130,0
...,...,...,...,...,...
1512,100,100,0,90,1
1993,100,80,1,100,0
1064,20,100,0,130,0
742,20,100,0,90,1
595,3,100,0,100,0

In [19]:
X_test

,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,TS2,TS3,TS4,P1,VS1,CE1,CP1,SE1
1478,160.603557,109.190815,1.970787,0.757539,9.862875,9.747467,6.672465,10.089657,36.599683,42.384583,39.772267,31.184867,2536.032367,0.566883,47.020250,2.337283,58.714050
1254,158.813303,107.102188,1.754382,0.000000,9.179447,9.092239,6.427283,9.739578,44.110667,49.116083,46.367083,39.769433,2480.602500,0.612233,27.169333,1.732100,56.530850
604,156.225400,105.488050,1.720778,0.000000,8.430153,8.382914,6.557222,8.963867,56.634000,61.164900,58.153450,52.094900,2370.743033,0.670050,18.827033,1.461650,59.944850
1789,160.996230,109.619760,1.996574,10.057557,9.829712,9.715488,6.714625,10.162278,36.255217,41.881367,39.141950,31.199067,2533.853733,0.545217,47.733000,2.174567,59.481850
1110,158.100195,107.325104,1.731473,0.000000,9.129171,9.045512,6.366933,9.697877,44.842400,49.780383,47.070300,40.407333,2482.651300,0.610583,27.645583,1.740983,56.387217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,158.547728,106.934395,1.725474,0.000000,9.184036,9.099751,6.334163,9.722393,44.164700,49.203550,46.436317,39.766483,2494.801867,0.612100,27.448317,1.747983,55.258300
2146,160.694295,109.390745,1.940187,10.155626,9.926021,9.807358,6.505865,10.165430,35.582183,41.239583,38.494400,30.638300,2549.360667,0.554433,46.795933,2.151667,57.098117
1524,161.029127,109.586929,2.010691,1.060497,9.957976,9.838949,6.683253,10.147920,35.412917,41.063217,38.385733,30.504733,2541.793533,0.564883,46.648500,2.154450,58.873900
1690,160.576552,108.901325,1.920976,10.174789,9.943159,9.823674,6.418158,10.203867,35.658817,41.240633,38.562733,30.640217,2579.205967,0.546183,47.256683,2.177267,55.329133
956,158.001628,106.823048,1.719157,0.000000,9.039698,8.963006,6.350470,9.632433,45.950700,50.809633,48.145267,41.594400,2475.028733,0.628383,26.372267,1.698500,56.133217

In [20]:
y_test

,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
1478,100,100,0,90,1
1254,20,73,1,100,0
604,3,100,0,90,1
1789,100,100,0,130,0
1110,20,100,2,115,0
...,...,...,...,...,...
1212,20,73,2,100,0
2146,100,100,1,90,0
1524,100,100,0,90,1
1690,100,80,2,130,0
956,20,80,2,130,0

# Creating the Knn model and fitting the training & testing dataset

In [21]:
knn=KNeighborsClassifier(n_neighbors=4,metric='euclidean',p=2)
knn.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=4)