# Importing modules

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score

# Importing Data

In [59]:
df = pd.read_csv(r"C:\Users\ajayk\Desktop\Machine Learning\Condition_Monitoring_of_Hydraulic_System.csv")

In [60]:
df

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,0,160.673492,109.466914,1.991475,9.842170,9.728098,6.709815,35.621983,40.978767,38.471017,31.745250,39.601350,1.862750,59.157183,3,100,0,130,1
1,1,160.603320,109.354890,1.976234,9.635142,9.529488,6.715315,36.676967,41.532767,38.978967,34.493867,25.786433,1.255550,59.335617,3,100,0,130,1
2,2,160.347720,109.158845,1.972224,9.530548,9.427949,6.718522,37.880800,42.442450,39.631950,35.646150,22.218233,1.113217,59.543150,3,100,0,130,1
3,3,160.188088,109.064807,1.946575,9.438827,9.337430,6.720565,38.879050,43.403983,40.403383,36.579467,20.459817,1.062150,59.794900,3,100,0,130,1
4,4,160.000472,108.931434,1.922707,9.358762,9.260636,6.690308,39.803917,44.332750,41.310550,37.427900,19.787017,1.070467,59.455267,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,161.227572,109.779581,2.001438,9.972037,9.850361,6.689930,35.313783,40.874800,38.269267,30.404733,46.628517,2.160600,59.033100,100,100,0,90,0
2201,2201,161.206070,109.787481,1.998781,9.966184,9.844854,6.692182,35.321600,40.868883,38.268250,30.416233,46.689817,2.151450,59.068000,100,100,0,90,0
2202,2202,161.192120,109.756174,1.993436,9.964329,9.842628,6.693277,35.319183,40.875950,38.246367,30.426250,46.472300,2.143300,59.132350,100,100,0,90,0
2203,2203,161.208917,109.793884,2.007077,9.968232,9.846690,6.684128,35.324767,40.876067,38.245733,30.414283,46.544967,2.148483,58.970800,100,100,0,90,0
2204,2204,161.217128,109.792177,2.002690,9.973638,9.851949,6.692302,35.322233,40.859400,38.248917,30.390800,46.647933,2.157050,59.053900,100,100,0,90,0

In [61]:
df.columns

Index(['Unnamed: 0', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'FS1', 'TS1', 'TS2',
       'TS3', 'TS4', 'CE', 'CP', 'SE', 'y_coolerCondition', 'y_valveCondition',
       'y_pumpLeak', 'y_hydraulicAcc', 'y_stableFlag'],
      dtype='object')

In [62]:
df.head()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,0,160.673492,109.466914,1.991475,9.842170,9.728098,6.709815,35.621983,40.978767,38.471017,31.745250,39.601350,1.862750,59.157183,3,100,0,130,1
1,1,160.603320,109.354890,1.976234,9.635142,9.529488,6.715315,36.676967,41.532767,38.978967,34.493867,25.786433,1.255550,59.335617,3,100,0,130,1
2,2,160.347720,109.158845,1.972224,9.530548,9.427949,6.718522,37.880800,42.442450,39.631950,35.646150,22.218233,1.113217,59.543150,3,100,0,130,1
3,3,160.188088,109.064807,1.946575,9.438827,9.337430,6.720565,38.879050,43.403983,40.403383,36.579467,20.459817,1.062150,59.794900,3,100,0,130,1
4,4,160.000472,108.931434,1.922707,9.358762,9.260636,6.690308,39.803917,44.332750,41.310550,37.427900,19.787017,1.070467,59.455267,3,100,0,130,1

In [63]:
df.tail()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
2200,2200,161.227572,109.779581,2.001438,9.972037,9.850361,6.689930,35.313783,40.874800,38.269267,30.404733,46.628517,2.160600,59.03310,100,100,0,90,0
2201,2201,161.206070,109.787481,1.998781,9.966184,9.844854,6.692182,35.321600,40.868883,38.268250,30.416233,46.689817,2.151450,59.06800,100,100,0,90,0
2202,2202,161.192120,109.756174,1.993436,9.964329,9.842628,6.693277,35.319183,40.875950,38.246367,30.426250,46.472300,2.143300,59.13235,100,100,0,90,0
2203,2203,161.208917,109.793884,2.007077,9.968232,9.846690,6.684128,35.324767,40.876067,38.245733,30.414283,46.544967,2.148483,58.97080,100,100,0,90,0
2204,2204,161.217128,109.792177,2.002690,9.973638,9.851949,6.692302,35.322233,40.859400,38.248917,30.390800,46.647933,2.157050,59.05390,100,100,0,90,0

In [64]:
df.describe()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1102.000000,160.485315,109.379906,1.753227,9.163320,9.079363,6.198549,45.424567,50.365979,47.662121,40.735654,31.299077,1.808399,55.287900,41.240816,90.693878,0.669388,107.199546,0.342857
std,636.672993,4.699425,4.986585,0.251902,0.576296,0.549589,1.032883,7.991933,7.396254,7.451888,8.107878,11.575330,0.278263,8.960189,42.383143,10.681802,0.817233,16.435848,0.474772
min,0.000000,155.391547,104.406307,0.840252,8.365800,8.321527,2.018572,35.313783,40.859400,38.245733,30.390800,17.555983,1.062150,18.276617,3.000000,73.000000,0.000000,90.000000,0.000000
25%,551.000000,158.100195,106.962382,1.729733,8.547239,8.487167,6.391670,36.237150,41.864183,39.123183,31.272567,20.084650,1.550100,56.270183,3.000000,80.000000,0.000000,90.000000,0.000000
50%,1102.000000,158.960895,107.730169,1.779631,9.115781,9.031516,6.576673,44.836650,49.780583,47.070250,40.429050,27.392533,1.739683,58.758150,20.000000,100.000000,0.000000,100.000000,0.000000
75%,1653.000000,161.000735,109.421612,1.932047,9.844351,9.729275,6.657508,54.104317,58.584467,55.694433,49.409500,46.677383,2.148483,59.656900,100.000000,100.000000,1.000000,130.000000,1.000000
max,2204.000000,180.922708,131.589089,2.023398,9.978510,9.856591,6.722707,57.899283,61.958467,59.423167,53.060417,47.903667,2.840100,60.755300,100.000000,100.000000,2.000000,130.000000,1.000000

# Assigning values to X and y

In [65]:
X = df[['PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'FS1', 'TS1', 'TS2', 'TS3', 'TS4', 'CE', 'CP', 'SE']]
y = df[['y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc']]

# Splitting dataset into train and test

In [66]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

# Displaying values

In [67]:
X_train

,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE
572,156.259090,105.109720,1.686528,8.409337,8.359900,6.572717,57.330050,61.493300,58.674333,52.562750,18.882850,1.471883,59.950200
117,157.029422,106.361600,1.729071,8.592279,8.533665,6.601323,53.610750,58.093367,55.153417,49.000933,20.267500,1.531833,60.262533
1161,159.114915,107.267203,1.803048,9.136608,9.051796,6.632630,44.593617,49.634633,46.804117,40.021017,27.786933,1.770233,58.852000
789,158.176940,107.214707,1.786352,8.970626,8.898110,6.634915,47.109183,52.262500,49.325900,42.666800,26.399917,1.724267,59.569083
1322,158.989445,107.983810,1.806357,9.146062,9.061882,6.672445,44.389533,49.417183,46.637700,39.878583,27.348517,1.772367,59.857767
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,158.867803,107.103200,1.789223,9.054415,8.976108,6.643458,45.757833,50.665533,47.919200,41.195717,28.058167,1.751483,58.991450
1731,160.771032,109.054252,1.935512,9.880726,9.761596,6.500505,35.897400,41.499200,38.796267,30.888767,47.345067,2.168317,56.692333
763,157.909970,106.973936,1.779226,8.924975,8.852112,6.626108,47.881850,53.009617,50.051850,43.319533,26.283400,1.731600,59.623317
835,158.262197,107.266625,1.803428,8.985091,8.909845,6.636710,46.754067,51.858083,48.984550,42.363117,26.282333,1.713750,59.742533
1653,161.047945,109.579380,2.008050,9.937681,9.819300,6.687085,35.514217,41.111717,38.441000,30.552333,47.129133,2.166700,58.897267

In [68]:
y_train

      y_coolerCondition  y_valveCondition  y_pumpLeak  y_hydraulicAcc
572                   3                80           0             100
117                   3               100           0             130
1161                 20                73           0             115
789                  20               100           0              90
1322                 20               100           0             100
...                 ...               ...         ...             ...
1033                 20                73           0             130
1731                100                80           1             130
763                  20               100           0              90
835                  20               100           0              90
1653                100               100           0              90

[1764 rows x 4 columns]

In [69]:
X_test

,PS1,PS2,PS3,PS4,PS5,FS1,TS1,TS2,TS3,TS4,CE,CP,SE
1747,160.647718,109.422139,1.957377,9.879644,9.761711,6.533342,35.973683,41.559483,38.836933,30.975850,47.250267,2.156450,57.367050
200,156.928997,106.243144,1.725192,8.535125,8.478645,6.603242,54.242117,58.860383,55.801950,49.493383,20.107950,1.563267,60.555183
333,156.821348,106.100606,1.768057,8.509735,8.452485,6.616405,54.491600,59.252683,56.180117,49.713783,20.352883,1.599183,60.126250
2042,161.098415,109.227591,1.991564,9.842049,9.726338,6.686235,36.231633,41.849533,39.087083,31.142117,47.313050,2.170017,58.795683
206,156.975997,106.274665,1.752760,8.532493,8.477292,6.586313,54.300150,58.905800,55.849017,49.567633,20.062617,1.556367,60.231650
...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,172.765863,122.665902,1.068509,8.431605,8.384973,3.267127,56.517917,59.900417,58.260017,52.129050,19.069567,1.484767,29.870200
1175,158.994632,107.480166,1.801477,9.138057,9.056158,6.664957,44.609317,49.681483,46.934667,40.080350,27.829333,1.792283,59.395700
286,156.404905,105.853168,1.690030,8.515130,8.455835,6.350280,54.441917,58.980533,55.894583,49.684133,20.106000,1.537683,57.651133
2010,160.601713,109.158295,1.929946,9.839934,9.725174,6.515223,36.262450,41.859250,39.128017,31.282217,46.917233,2.147017,57.128517
983,158.099953,107.334708,1.752769,9.029740,8.953610,6.469770,45.987000,50.817217,48.167683,41.589000,26.738550,1.706300,58.091917

In [70]:
y_test

      y_coolerCondition  y_valveCondition  y_pumpLeak  y_hydraulicAcc
1747                100               100           1             130
200                   3               100           0             130
333                   3               100           0             115
2042                100                80           0             100
206                   3               100           0             130
...                 ...               ...         ...             ...
488                   3                80           2             100
1175                 20                80           0             115
286                   3               100           1             130
2010                100                90           1             100
983                  20               100           1             130

[441 rows x 4 columns]

#  Fitting the Linear Regression model

In [71]:
reg = linear_model.LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

# Making predictions on the test set

In [72]:
y_pred = reg.predict(X_test)

In [73]:
y_pred

array([[101.17067762,  99.81254332,   1.09558438, 113.30132301],
       [  3.19730076,  98.58413539,  -0.15440841, 121.30010659],
       [  3.39356577, 102.18493869,  -0.13833649, 121.06769408],
       ...,
       [  3.48099298,  96.60179895,   1.46142077, 134.5733817 ],
       [ 98.89841325,  91.04874738,   1.11442903, 110.54224826],
       [ 19.60603231,  99.82817619,   1.12711116, 104.67916598]])

#  Evaluating the performance with R2 score, Mean squared error, and Root mean squared error

In [74]:
score = r2_score(y_pred,y_test)
print("R2 score is: ", score)
print("Mean Squared Error: ", mean_squared_error(y_test,y_pred))
print("Root Mean Squared Error: ", np.sqrt(mean_squared_error(y_test,y_pred)))

R2 score is:  0.7397677021250999
Mean Squared Error:  41.20690212175238
Root Mean Squared Error:  6.419260247236622

# Code for y_flag

In [75]:
X1 = df[['y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc']]
y1 = df[['y_stableFlag']]

In [76]:
X1

      y_coolerCondition  y_valveCondition  y_pumpLeak  y_hydraulicAcc
0                     3               100           0             130
1                     3               100           0             130
2                     3               100           0             130
3                     3               100           0             130
4                     3               100           0             130
...                 ...               ...         ...             ...
2200                100               100           0              90
2201                100               100           0              90
2202                100               100           0              90
2203                100               100           0              90
2204                100               100           0              90

[2205 rows x 4 columns]

In [77]:
y1

      y_stableFlag
0                1
1                1
2                1
3                1
4                1
...            ...
2200             0
2201             0
2202             0
2203             0
2204             0

[2205 rows x 1 columns]

In [78]:
X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.2,random_state=23)

In [79]:
X1_train

      y_coolerCondition  y_valveCondition  y_pumpLeak  y_hydraulicAcc
1799                100               100           0             115
34                    3               100           0             130
186                   3               100           0             130
1206                 20               100           0             100
1699                100                90           2             130
...                 ...               ...         ...             ...
1512                100               100           0              90
1993                100                80           1             100
1064                 20               100           0             130
742                  20               100           0              90
595                   3               100           0             100

[1764 rows x 4 columns]

In [80]:
y1_train

      y_stableFlag
1799             1
34               1
186              1
1206             1
1699             0
...            ...
1512             1
1993             0
1064             0
742              1
595              0

[1764 rows x 1 columns]

In [81]:
X1_test

      y_coolerCondition  y_valveCondition  y_pumpLeak  y_hydraulicAcc
1478                100               100           0              90
1254                 20                73           1             100
604                   3               100           0              90
1789                100               100           0             130
1110                 20               100           2             115
...                 ...               ...         ...             ...
1212                 20                73           2             100
2146                100               100           1              90
1524                100               100           0              90
1690                100                80           2             130
956                  20                80           2             130

[441 rows x 4 columns]

In [82]:
y1_test

      y_stableFlag
1478             1
1254             0
604              1
1789             0
1110             0
...            ...
1212             0
2146             0
1524             1
1690             0
956              0

[441 rows x 1 columns]

In [83]:
reg_stable_flag = linear_model.LinearRegression()
reg_stable_flag.fit(X1_train,y1_train)

LinearRegression()

In [84]:
y_pred_stable_flag = reg_stable_flag.predict(X1_test)
y_pred_stable_flag

array([[ 7.19799053e-01],
       [-1.10570731e-01],
       [ 7.32802562e-01],
       [ 6.51590903e-01],
       [ 2.49815470e-01],
       [ 4.68854486e-01],
       [-1.83481589e-01],
       [ 7.30523596e-01],
       [ 2.52094435e-01],
       [ 1.62127480e-04],
       [ 6.64594412e-01],
       [ 2.42021895e-01],
       [-1.59447878e-01],
       [ 7.02747016e-01],
       [ 5.73121732e-02],
       [ 7.19799053e-01],
       [ 2.07039136e-02],
       [ 2.64668983e-01],
       [-2.59517723e-03],
       [ 2.87409294e-01],
       [ 1.62127480e-04],
       [-3.78486894e-01],
       [ 6.64594412e-01],
       [ 7.19799053e-01],
       [ 7.19799053e-01],
       [-3.78486894e-01],
       [ 7.30523596e-01],
       [ 7.30523596e-01],
       [ 7.30523596e-01],
       [ 7.13471559e-01],
       [ 6.62315446e-01],
       [ 7.30523596e-01],
       [ 1.10747251e-01],
       [-1.33869822e-01],
       [ 4.91675238e-01],
       [ 6.51590903e-01],
       [ 2.81721021e-01],
       [ 2.44779200e-01],
       [ 7.32802562e-01],
       [ 6.64594412e-01],
       [ 2.92445564e-01],
       [ 6.77168960e-01],
       [ 9.97937064e-03],
       [ 2.21480109e-01],
       [ 7.30523596e-01],
       [ 2.26516379e-01],
       [ 4.32551887e-01],
       [-1.36148787e-01],
       [-1.36148787e-01],
       [ 7.19799053e-01],
       [ 2.81721021e-01],
       [ 7.19799053e-01],
       [ 2.42021895e-01],
       [ 2.39742930e-01],
       [-3.12557710e-01],
       [ 2.89688259e-01],
       [ 7.15750524e-01],
       [ 7.19799053e-01],
       [-1.83481589e-01],
       [ 7.19799053e-01],
       [ 7.21656865e-02],
       [ 2.07039136e-02],
       [ 8.51691948e-02],
       [ 2.39090927e-01],
       [-3.55187803e-01],
       [-1.36148787e-01],
       [-3.65912346e-01],
       [ 6.64594412e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [ 6.51590903e-01],
       [ 5.11484580e-01],
       [-1.83481589e-01],
       [ 4.91675238e-01],
       [ 2.94724529e-01],
       [ 7.19799053e-01],
       [ 4.83708000e-01],
       [ 2.34054657e-01],
       [ 1.25520323e-01],
       [ 7.32802562e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [-1.83481589e-01],
       [ 2.26516379e-01],
       [ 4.32551887e-01],
       [ 6.64594412e-01],
       [ 5.08727275e-01],
       [ 6.64594412e-01],
       [-3.27330782e-01],
       [ 7.30523596e-01],
       [ 6.64594412e-01],
       [ 6.83702773e-02],
       [ 2.39742930e-01],
       [ 9.77437426e-02],
       [ 6.64594412e-01],
       [ 7.02747016e-01],
       [ 7.19799053e-01],
       [ 6.64594412e-01],
       [-1.36148787e-01],
       [ 7.30523596e-01],
       [ 2.49815470e-01],
       [-3.80765859e-01],
       [ 8.28902294e-02],
       [ 2.71648481e-01],
       [ 7.30523596e-01],
       [ 2.77672492e-01],
       [ 5.26094643e-02],
       [ 6.56129726e-02],
       [ 7.19799053e-01],
       [ 5.11484580e-01],
       [ 4.71133452e-01],
       [ 6.64594412e-01],
       [ 5.06448310e-01],
       [ 4.38240160e-01],
       [ 6.64594412e-01],
       [-1.05624155e-02],
       [ 4.85609351e-02],
       [-3.23282252e-01],
       [ 7.30523596e-01],
       [ 4.94432542e-01],
       [ 7.30523596e-01],
       [ 4.40519125e-01],
       [ 2.82373023e-01],
       [ 4.96711508e-01],
       [ 7.19799053e-01],
       [-1.61726843e-01],
       [ 7.30523596e-01],
       [ 2.44779200e-01],
       [-1.05624155e-02],
       [ 7.06492426e-02],
       [ 2.07039136e-02],
       [ 2.59632713e-01],
       [-1.55986855e-02],
       [ 4.43276430e-01],
       [-1.05624155e-02],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [ 6.77168960e-01],
       [ 7.19799053e-01],
       [ 7.30523596e-01],
       [ 8.51691948e-02],
       [-2.23913159e-01],
       [ 4.62819697e-02],
       [ 2.13512871e-01],
       [ 6.56129726e-02],
       [ 5.00760037e-01],
       [ 7.19799053e-01],
       [ 4.32551887e-01],
       [ 7.19799053e-01],
       [ 4.89396272e-01],
       [ 2.52094435e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [-2.09059646e-01],
       [ 6.64594412e-01],
       [-3.12557710e-01],
       [ 7.19799053e-01],
       [ 6.83702773e-02],
       [ 6.90172468e-01],
       [-3.55187803e-01],
       [ 7.19799053e-01],
       [ 2.67599951e-01],
       [ 2.44779200e-01],
       [ 6.64594412e-01],
       [ 4.38240160e-01],
       [ 5.11484580e-01],
       [ 7.30523596e-01],
       [-1.61726843e-01],
       [ 7.02747016e-01],
       [-1.66429552e-01],
       [ 2.52094435e-01],
       [ 7.19799053e-01],
       [ 9.97937064e-03],
       [ 2.13512871e-01],
       [ 7.30523596e-01],
       [ 5.95911386e-02],
       [ 4.66097182e-01],
       [-3.65912346e-01],
       [ 6.64594412e-01],
       [ 2.39090927e-01],
       [ 7.30523596e-01],
       [ 2.59632713e-01],
       [ 4.40519125e-01],
       [-2.21634194e-01],
       [ 7.19799053e-01],
       [ 1.08468286e-01],
       [ 2.71648481e-01],
       [-3.80765859e-01],
       [ 7.19799053e-01],
       [ 6.51590903e-01],
       [ 4.83708000e-01],
       [ 2.44109285e-03],
       [ 5.08727275e-01],
       [-3.12557710e-01],
       [ 7.30523596e-01],
       [ 6.83702773e-02],
       [ 4.95723767e-01],
       [-1.10570731e-01],
       [ 7.19799053e-01],
       [ 6.64594412e-01],
       [ 2.34054657e-01],
       [ 7.15750524e-01],
       [-1.04243236e-01],
       [ 4.38240160e-01],
       [ 4.78671729e-01],
       [-2.23913159e-01],
       [ 4.65876303e-02],
       [-3.10278744e-01],
       [ 7.19799053e-01],
       [ 5.00760037e-01],
       [ 5.35972052e-02],
       [ 7.30523596e-01],
       [ 2.21480109e-01],
       [-1.83481589e-01],
       [ 7.15750524e-01],
       [-3.40334290e-01],
       [ 6.64594412e-01],
       [ 5.35972052e-02],
       [-3.91490402e-01],
       [ 2.39742930e-01],
       [ 1.08468286e-01],
       [-1.04243236e-01],
       [ 2.84651989e-01],
       [ 7.30523596e-01],
       [ 7.15750524e-01],
       [ 6.51590903e-01],
       [ 2.16443839e-01],
       [ 2.87409294e-01],
       [ 6.64594412e-01],
       [ 2.49815470e-01],
       [ 5.08727275e-01],
       [ 4.83708000e-01],
       [ 4.43276430e-01],
       [ 4.40519125e-01],
       [ 7.30523596e-01],
       [ 6.64594412e-01],
       [ 6.90172468e-01],
       [ 2.70357256e-01],
       [ 5.11484580e-01],
       [ 4.83708000e-01],
       [ 2.47058165e-01],
       [ 7.30523596e-01],
       [ 4.68854486e-01],
       [ 5.13182398e-02],
       [ 7.02747016e-01],
       [ 7.02747016e-01],
       [ 4.32551887e-01],
       [-1.55705009e-01],
       [-1.10570731e-01],
       [ 1.62127480e-04],
       [ 4.32551887e-01],
       [-9.35186933e-02],
       [ 7.02747016e-01],
       [ 7.30523596e-01],
       [ 7.19799053e-01],
       [-3.52908838e-01],
       [-3.12557710e-01],
       [ 6.64594412e-01],
       [ 4.65876303e-02],
       [ 7.19799053e-01],
       [ 5.13182398e-02],
       [-2.09059646e-01],
       [ 2.42021895e-01],
       [ 7.30523596e-01],
       [ 7.19799053e-01],
       [-3.12557710e-01],
       [ 7.32802562e-01],
       [ 2.75393526e-01],
       [ 4.71133452e-01],
       [ 7.19799053e-01],
       [ 6.77168960e-01],
       [ 6.87893503e-01],
       [-1.59447878e-01],
       [ 7.30523596e-01],
       [ 2.39090927e-01],
       [ 6.64594412e-01],
       [ 2.59632713e-01],
       [ 7.30523596e-01],
       [-1.96056137e-01],
       [ 7.19799053e-01],
       [ 6.33340072e-02],
       [-3.52908838e-01],
       [-1.59447878e-01],
       [ 6.64594412e-01],
       [ 5.13763545e-01],
       [ 6.64594412e-01],
       [-3.91490402e-01],
       [-1.33869822e-01],
       [-2.23913159e-01],
       [ 7.32802562e-01],
       [ 6.64594412e-01],
       [ 2.54596443e-01],
       [ 7.30523596e-01],
       [-1.33869822e-01],
       [ 7.19799053e-01],
       [ 6.64594412e-01],
       [-1.08291765e-01],
       [-1.59447878e-01],
       [ 5.73121732e-02],
       [ 1.08468286e-01],
       [ 7.19799053e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [ 7.19799053e-01],
       [ 6.64594412e-01],
       [ 7.13471559e-01],
       [ 7.13471559e-01],
       [-1.66429552e-01],
       [ 2.08476601e-01],
       [ 4.83708000e-01],
       [-1.98335103e-01],
       [ 6.64594412e-01],
       [ 2.44779200e-01],
       [ 7.30523596e-01],
       [ 7.30523596e-01],
       [-1.70478081e-01],
       [ 7.19799053e-01],
       [-3.40334290e-01],
       [ 4.78671729e-01],
       [ 6.87893503e-01],
       [ 4.45555396e-01],
       [ 7.30523596e-01],
       [ 7.13471559e-01],
       [ 7.19799053e-01],
       [ 2.13512871e-01],
       [ 2.82373023e-01],
       [ 6.87893503e-01],
       [-3.80765859e-01],
       [ 7.30523596e-01],
       [ 4.27515617e-01],
       [-2.59517723e-03],
       [-1.55705009e-01],
       [ 2.21480109e-01],
       [-3.52908838e-01],
       [ 6.64594412e-01],
       [ 6.64594412e-01],
       [-1.72757047e-01],
       [ 1.14795780e-01],
       [ 4.94432542e-01],
       [ 2.57401837e-02],
       [ 7.30523596e-01],
       [ 6.77168960e-01],
       [ 7.30523596e-01],
       [ 7.30523596e-01],
       [ 6.56129726e-02],
       [ 6.64594412e-01],
       [ 2.08476601e-01],
       [ 7.19799053e-01],
       [ 2.77672492e-01],
       [ 7.30523596e-01],
       [ 8.28902294e-02],
       [ 6.64594412e-01],
       [ 2.92445564e-01],
       [ 7.19799053e-01],
       [ 2.34054657e-01],
       [ 7.19799053e-01],
       [ 2.14164874e-01],
       [ 2.49815470e-01],
       [ 2.19201144e-01],
       [ 7.21656865e-02],
       [ 7.30523596e-01],
       [ 6.64594412e-01],
       [ 6.64594412e-01],
       [ 2.71648481e-01],
       [ 4.45555396e-01],
       [ 5.00760037e-01],
       [-1.70478081e-01],
       [ 6.87893503e-01],
       [-1.55986855e-02],
       [ 4.68854486e-01],
       [-3.23282252e-01],
       [ 7.02747016e-01],
       [ 7.19799053e-01],
       [ 5.06448310e-01],
       [ 7.02747016e-01],
       [ 7.30523596e-01],
       [-1.55705009e-01],
       [ 1.14795780e-01],
       [-3.40334290e-01],
       [ 6.51590903e-01],
       [ 4.94432542e-01],
       [ 4.53093673e-01],
       [-1.10570731e-01],
       [ 7.30523596e-01],
       [ 4.71133452e-01],
       [ 2.82373023e-01],
       [ 6.64594412e-01],
       [ 7.19799053e-01],
       [ 6.51590903e-01],
       [-3.27330782e-01],
       [ 2.52094435e-01],
       [ 2.75393526e-01],
       [-1.83481589e-01],
       [ 6.62315446e-01],
       [ 6.64594412e-01],
       [ 7.30523596e-01],
       [ 2.65320986e-01],
       [ 2.80191490e-02],
       [ 6.90172468e-01],
       [ 2.89688259e-01],
       [ 7.19799053e-01],
       [ 1.25520323e-01],
       [ 7.30523596e-01],
       [ 7.15750524e-01],
       [ 2.44109285e-03],
       [ 2.87409294e-01],
       [-1.59447878e-01],
       [ 7.19799053e-01],
       [ 2.29828789e-02],
       [ 7.19799053e-01],
       [ 7.30523596e-01],
       [ 6.64594412e-01],
       [ 7.19799053e-01],
       [ 1.10747251e-01],
       [-3.23282252e-01],
       [-1.46873330e-01],
       [ 8.28902294e-02],
       [ 6.64594412e-01],
       [ 5.00760037e-01],
       [ 6.51590903e-01],
       [-1.53426044e-01],
       [ 2.19201144e-01],
       [ 2.89688259e-01],
       [ 7.32802562e-01],
       [ 8.28902294e-02],
       [ 6.64594412e-01],
       [ 5.76457343e-02],
       [ 2.08476601e-01],
       [ 6.90172468e-01],
       [ 2.57401837e-02],
       [ 7.32802562e-01],
       [ 4.40519125e-01],
       [ 6.90172468e-01],
       [-3.65912346e-01],
       [-3.29609747e-01],
       [ 5.00760037e-01],
       [ 7.19799053e-01],
       [-2.34637702e-01],
       [-2.23913159e-01]])

In [85]:
score = r2_score(y_pred_stable_flag,y1_test)
print("R2 score is: ", score)
print("Mean Squared Error: ", mean_squared_error(y1_test,y_pred_stable_flag))
print("Root Mean Squared Error: ", np.sqrt(mean_squared_error(y1_test,y_pred_stable_flag)))

R2 score is:  0.05426227776439696
Mean Squared Error:  0.12127104213566171
Root Mean Squared Error:  0.3482399203647705