# Importing modules

In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score

# Importing Data

In [116]:
df = pd.read_csv(r"C:\Users\ajayk\Desktop\Machine Learning\Machine-Learning\Condition Monitoring of Hydraulic System\condition_monitoring_of_Hydraulic_system.csv")

In [117]:
df

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,0,160.673492,109.466914,1.991475,0.000000,9.842170,9.728098,6.709815,10.304592,35.621983,...,2538.929167,0.576950,39.601350,1.862750,59.157183,3,100,0,130,1
1,1,160.603320,109.354890,1.976234,0.000000,9.635142,9.529488,6.715315,10.403098,36.676967,...,2531.498900,0.565850,25.786433,1.255550,59.335617,3,100,0,130,1
2,2,160.347720,109.158845,1.972224,0.000000,9.530548,9.427949,6.718522,10.366250,37.880800,...,2519.928000,0.576533,22.218233,1.113217,59.543150,3,100,0,130,1
3,3,160.188088,109.064807,1.946576,0.000000,9.438827,9.337430,6.720565,10.302678,38.879050,...,2511.541633,0.569267,20.459817,1.062150,59.794900,3,100,0,130,1
4,4,160.000472,108.931434,1.922707,0.000000,9.358762,9.260636,6.690308,10.237750,39.803917,...,2503.449500,0.577367,19.787017,1.070467,59.455267,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,161.227572,109.779581,2.001438,10.202473,9.972037,9.850361,6.689930,10.184515,35.313783,...,2543.911033,0.550833,46.628517,2.160600,59.033100,100,100,0,90,0
2201,2201,161.206070,109.787481,1.998781,10.197919,9.966184,9.844854,6.692182,10.177767,35.321600,...,2543.411333,0.547483,46.689817,2.151450,59.068000,100,100,0,90,0
2202,2202,161.192120,109.756174,1.993436,10.196824,9.964329,9.842629,6.693277,10.176172,35.319183,...,2542.729767,0.545233,46.472300,2.143300,59.132350,100,100,0,90,0
2203,2203,161.208917,109.793884,2.007077,10.198588,9.968232,9.846690,6.684128,10.178353,35.324767,...,2544.046333,0.537017,46.544967,2.148483,58.970800,100,100,0,90,0
2204,2204,161.217128,109.792176,2.002690,10.203126,9.973638,9.851949,6.692302,10.183393,35.322233,...,2543.818300,0.546583,46.647933,2.157050,59.053900,100,100,0,90,0

In [118]:
df.columns

Index(['Unnamed: 0', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6', 'FS1', 'FS2',
       'TS1', 'TS2', 'TS3', 'TS4', 'P1', 'VS1', 'CE1', 'CP1', 'SE1',
       'y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc',
       'y_stableFlag'],
      dtype='object')

In [119]:
df.describe()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1102.000000,160.485315,109.379906,1.753227,2.600266,9.163320,9.079363,6.198549,9.649453,45.424567,...,2495.509203,0.613315,31.299077,1.808399,55.287900,41.240816,90.693878,0.669388,107.199546,0.342857
std,636.672993,4.699425,4.986585,0.251902,4.279355,0.576296,0.549589,1.032883,0.449246,7.991933,...,73.836682,0.060260,11.575330,0.278263,8.960189,42.383143,10.681802,0.817233,16.435848,0.474772
min,0.000000,155.391547,104.406307,0.840252,0.000000,8.365801,8.321527,2.018572,8.857513,35.313783,...,2361.747267,0.524367,17.555983,1.062150,18.276617,3.000000,73.000000,0.000000,90.000000,0.000000
25%,551.000000,158.100195,106.962382,1.729733,0.000000,8.547239,8.487167,6.391670,9.203397,36.237150,...,2442.933467,0.555100,20.084650,1.550100,56.270183,3.000000,80.000000,0.000000,90.000000,0.000000
50%,1102.000000,158.960895,107.730169,1.779630,0.000000,9.115781,9.031516,6.576673,9.692270,44.836650,...,2480.926633,0.610183,27.392533,1.739683,58.758150,20.000000,100.000000,0.000000,100.000000,0.000000
75%,1653.000000,161.000735,109.421612,1.932047,3.503266,9.844351,9.729275,6.657508,10.155008,54.104317,...,2548.211467,0.649850,46.677383,2.148483,59.656900,100.000000,100.000000,1.000000,130.000000,1.000000
max,2204.000000,180.922708,131.589089,2.023398,10.207068,9.978511,9.856591,6.722707,10.403098,57.899283,...,2740.641000,0.839067,47.903667,2.840100,60.755300,100.000000,100.000000,2.000000,130.000000,1.000000

# Assigning values to X and y

In [120]:
X = df[['PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6', 'FS1', 'FS2',
       'TS1', 'TS2', 'TS3', 'TS4', 'P1', 'VS1', 'CE1', 'CP1', 'SE1']]
y = df[['y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc',
       'y_stableFlag']]

# Splitting dataset into train and test

In [121]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=24)

# Displaying values

In [122]:
X_train

,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,TS2,TS3,TS4,P1,VS1,CE1,CP1,SE1
1954,160.361318,108.716970,1.912063,10.073805,9.845528,9.728689,6.398970,10.152283,36.248783,41.865583,39.155817,31.366833,2563.176900,0.539683,46.755417,2.130033,55.458783
737,156.858247,106.035453,1.741724,0.000000,8.654503,8.593509,6.598355,9.197177,52.354183,57.631500,55.016783,46.649433,2401.932533,0.600400,27.675450,2.072983,59.770200
429,156.425738,104.942447,1.736981,0.000000,8.435384,8.386439,6.538973,8.979292,56.879200,61.226517,58.345533,52.267033,2384.455633,0.678667,18.805400,1.470567,58.705600
890,158.324255,107.360338,1.775993,0.000000,8.988292,8.912265,6.635587,9.606093,46.498083,51.489200,48.711967,42.024667,2445.456800,0.600567,26.638283,1.731067,59.749583
1088,158.203452,106.959329,1.724236,0.000000,9.103559,9.020037,6.358367,9.686752,44.965917,49.906400,47.237100,40.573300,2481.168900,0.622033,27.758050,1.739183,56.064550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,158.470330,107.567434,1.769983,0.000000,9.141701,9.057467,6.487650,9.691955,44.538050,49.572533,46.795717,40.039700,2467.612267,0.623717,27.889733,1.764850,58.023817
2193,161.226722,109.791730,1.993758,10.202104,9.970461,9.849650,6.695933,10.186798,35.355933,40.972617,38.319350,30.437733,2545.667933,0.551733,46.565767,2.161533,59.043500
343,173.182907,123.445897,1.142523,0.000000,8.515942,8.458771,3.273827,9.184803,54.256033,58.727017,55.922283,49.409500,2652.404467,0.743100,20.587717,1.608767,30.142717
899,158.325560,107.378747,1.779630,0.000000,8.990370,8.914097,6.636792,9.608852,46.447967,51.450517,48.659350,42.001233,2444.275900,0.602283,26.545517,1.723550,59.795467
418,172.815778,123.169347,1.144600,0.000000,8.418774,8.373812,3.341858,8.956298,56.898217,60.701450,58.533233,52.322267,2620.218433,0.714733,19.039817,1.499500,31.202683

In [123]:
y_train

,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
1954,100,80,2,100,0
737,20,100,0,90,1
429,3,73,0,115,0
890,20,100,0,90,1
1088,20,80,2,115,0
...,...,...,...,...,...
1153,20,100,1,115,0
2193,100,100,0,90,0
343,3,100,2,115,1
899,20,100,0,90,1
418,3,100,1,115,0

In [124]:
X_test

,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,TS2,TS3,TS4,P1,VS1,CE1,CP1,SE1
1437,159.116950,107.608199,1.795276,0.300438,9.138008,9.053503,6.644260,9.714308,44.519167,49.516933,46.786717,40.018950,2466.671900,0.702933,27.533983,1.770017,59.338967
285,156.409397,105.851653,1.684818,0.000000,8.512465,8.454881,6.365883,9.186605,54.408900,58.951517,55.903033,49.708917,2406.052433,0.654883,20.055050,1.533867,57.838667
2167,161.296135,109.399041,1.977748,10.176503,9.942571,9.823372,6.668832,10.174690,35.542617,41.207950,38.496267,30.611733,2544.066433,0.558433,46.371750,2.159600,58.512100
1701,160.493893,109.086176,1.921208,10.163213,9.931743,9.814310,6.427732,10.194565,35.701133,41.241950,38.609083,30.650933,2575.097167,0.541783,47.896833,2.185283,55.688267
1047,158.690062,107.577944,1.783229,0.000000,9.052735,8.972810,6.674088,9.657227,45.647033,50.609817,47.879550,41.108250,2452.604733,0.618917,28.072300,1.762300,60.045367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,158.663532,107.748521,1.759842,0.000000,9.156875,9.071403,6.454570,9.721630,44.160683,49.155667,46.438717,39.800850,2469.151567,0.607750,27.502233,1.738333,57.690850
692,156.305583,104.827882,1.715161,0.000000,8.404558,8.360313,6.520648,8.916530,57.190000,61.301500,58.713067,52.491117,2368.343400,0.695217,18.816467,1.495400,58.984667
598,156.156738,105.464551,1.727106,0.101856,8.414438,8.369514,6.574722,8.942328,57.014250,61.348083,58.478383,52.364100,2366.410667,0.650050,18.834367,1.473133,60.169400
1837,160.233130,108.880421,1.927189,10.061086,9.829860,9.717468,6.417855,10.166665,36.355933,41.919017,39.219417,31.503883,2557.564233,0.546933,46.312400,2.114517,55.925267
460,156.336288,105.669358,1.752088,0.000000,8.479147,8.427096,6.593752,9.051108,56.063867,60.575817,57.519183,51.404483,2390.829800,0.643200,19.502283,1.491567,59.864017

In [125]:
y_test

,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
1437,20,80,0,90,0
285,3,100,1,130,0
2167,100,80,0,90,0
1701,100,90,2,130,0
1047,20,90,0,130,0
...,...,...,...,...,...
1416,20,100,1,90,0
692,3,73,0,90,0
598,3,100,0,100,0
1837,100,90,2,115,0
460,3,100,0,115,0

#  Fitting the Linear Regression model

In [126]:
reg = linear_model.LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

# Making predictions on the test set

In [127]:
y_pred = reg.predict(X_test)

In [128]:
y_pred

array([[ 1.93948818e+01,  8.28385254e+01,  2.66497465e-01,
         1.22763825e+02,  4.38734003e-01],
       [ 3.28477285e+00,  9.77806033e+01,  1.23967185e+00,
         1.27030071e+02,  3.39686620e-01],
       [ 9.78133356e+01,  8.27554329e+01, -5.03095826e-02,
         9.50182174e+01,  3.29755673e-01],
       ...,
       [ 3.32970476e+00,  9.83262376e+01, -1.66310601e-01,
         9.45631711e+01,  3.77406309e-01],
       [ 9.71173760e+01,  9.19455300e+01,  1.87881842e+00,
         1.14516809e+02,  1.09010779e-01],
       [ 5.75404769e+00,  1.01266716e+02,  9.54450125e-02,
         1.10637336e+02,  6.23980252e-01]])

#  Evaluating the performance with R2 score, Mean squared error, and Root mean squared error

In [129]:
score = r2_score(y_pred,y_test)
print("R2 score is: ", score)
print("Mean Squared Error: ", mean_squared_error(y_test,y_pred))
print("Root Mean Squared Error: ", np.sqrt(mean_squared_error(y_test,y_pred)))

R2 score is:  0.7132701805025331
Mean Squared Error:  25.11368170965057
Root Mean Squared Error:  5.011355276734086