# Importing modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import seaborn as sns
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Loading datset

In [2]:
df = pd.read_csv(r"C:\Users\ajayk\Desktop\Machine Learning\Machine-Learning\Condition Monitoring of Hydraulic System\condition_monitoring_of_Hydraulic_system.csv")

In [3]:
df

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
0,0,160.673492,109.466914,1.991475,0.000000,9.842170,9.728098,6.709815,10.304592,35.621983,...,2538.929167,0.576950,39.601350,1.862750,59.157183,3,100,0,130,1
1,1,160.603320,109.354890,1.976234,0.000000,9.635142,9.529488,6.715315,10.403098,36.676967,...,2531.498900,0.565850,25.786433,1.255550,59.335617,3,100,0,130,1
2,2,160.347720,109.158845,1.972224,0.000000,9.530548,9.427949,6.718522,10.366250,37.880800,...,2519.928000,0.576533,22.218233,1.113217,59.543150,3,100,0,130,1
3,3,160.188088,109.064807,1.946576,0.000000,9.438827,9.337430,6.720565,10.302678,38.879050,...,2511.541633,0.569267,20.459817,1.062150,59.794900,3,100,0,130,1
4,4,160.000472,108.931434,1.922707,0.000000,9.358762,9.260636,6.690308,10.237750,39.803917,...,2503.449500,0.577367,19.787017,1.070467,59.455267,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,161.227572,109.779581,2.001438,10.202473,9.972037,9.850361,6.689930,10.184515,35.313783,...,2543.911033,0.550833,46.628517,2.160600,59.033100,100,100,0,90,0
2201,2201,161.206070,109.787481,1.998781,10.197919,9.966184,9.844854,6.692182,10.177767,35.321600,...,2543.411333,0.547483,46.689817,2.151450,59.068000,100,100,0,90,0
2202,2202,161.192120,109.756174,1.993436,10.196824,9.964329,9.842629,6.693277,10.176172,35.319183,...,2542.729767,0.545233,46.472300,2.143300,59.132350,100,100,0,90,0
2203,2203,161.208917,109.793884,2.007077,10.198588,9.968232,9.846690,6.684128,10.178353,35.324767,...,2544.046333,0.537017,46.544967,2.148483,58.970800,100,100,0,90,0
2204,2204,161.217128,109.792176,2.002690,10.203126,9.973638,9.851949,6.692302,10.183393,35.322233,...,2543.818300,0.546583,46.647933,2.157050,59.053900,100,100,0,90,0

In [4]:
df.columns

Index(['Unnamed: 0', 'PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6', 'FS1', 'FS2',
       'TS1', 'TS2', 'TS3', 'TS4', 'P1', 'VS1', 'CE1', 'CP1', 'SE1',
       'y_coolerCondition', 'y_valveCondition', 'y_pumpLeak', 'y_hydraulicAcc',
       'y_stableFlag'],
      dtype='object')

In [5]:
df.describe()

,Unnamed: 0,PS1,PS2,PS3,PS4,PS5,PS6,FS1,FS2,TS1,...,P1,VS1,CE1,CP1,SE1,y_coolerCondition,y_valveCondition,y_pumpLeak,y_hydraulicAcc,y_stableFlag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,...,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1102.000000,160.485315,109.379906,1.753227,2.600266,9.163320,9.079363,6.198549,9.649453,45.424567,...,2495.509203,0.613315,31.299077,1.808399,55.287900,41.240816,90.693878,0.669388,107.199546,0.342857
std,636.672993,4.699425,4.986585,0.251902,4.279355,0.576296,0.549589,1.032883,0.449246,7.991933,...,73.836682,0.060260,11.575330,0.278263,8.960189,42.383143,10.681802,0.817233,16.435848,0.474772
min,0.000000,155.391547,104.406307,0.840252,0.000000,8.365801,8.321527,2.018572,8.857513,35.313783,...,2361.747267,0.524367,17.555983,1.062150,18.276617,3.000000,73.000000,0.000000,90.000000,0.000000
25%,551.000000,158.100195,106.962382,1.729733,0.000000,8.547239,8.487167,6.391670,9.203397,36.237150,...,2442.933467,0.555100,20.084650,1.550100,56.270183,3.000000,80.000000,0.000000,90.000000,0.000000
50%,1102.000000,158.960895,107.730169,1.779630,0.000000,9.115781,9.031516,6.576673,9.692270,44.836650,...,2480.926633,0.610183,27.392533,1.739683,58.758150,20.000000,100.000000,0.000000,100.000000,0.000000
75%,1653.000000,161.000735,109.421612,1.932047,3.503266,9.844351,9.729275,6.657508,10.155008,54.104317,...,2548.211467,0.649850,46.677383,2.148483,59.656900,100.000000,100.000000,1.000000,130.000000,1.000000
max,2204.000000,180.922708,131.589089,2.023398,10.207068,9.978511,9.856591,6.722707,10.403098,57.899283,...,2740.641000,0.839067,47.903667,2.840100,60.755300,100.000000,100.000000,2.000000,130.000000,1.000000

# Assigning values to X and y